body {
    background: #fff;
    font-weight: 400;
    position: relative;
    min-height: 100%;
    font-family: 'Nunito', sans-serif;
}
.white-bg{background: #fff;}
footer { background:#222}
.full-height {
    height: 100vh;
}
footer .title{color:#fff !important;}
footer, .mnu a{color: #a1a1a1 !important;}
footer, .mnu a:hover{color: #f4645f  !important;}
.footer { background:#222;
    min-height: 60px;
}

.active {
    background:#64B4FD !important;
 }
pre {
    tab-size:8
}
#inbox {
    position:fixed;
    right:2px;
    top:50%;
    z-index:999
}

/* alerts */
.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.glyphicon { margin-right:10px; }
.alert a {color: gold;}

/*#bootsnipp.com/snippets/featured/little-offers-with-colors-and-radius*/

.mt40 { margin-top: 40px; }
.btn-twitter{
  background-color: #55ACEE;
}
.btn-facebook{
  background-color: #3B5998;
}
.btn-gplus{
  background-color: #DD4B39;
}
.btn-linkedin{
  background-color: #0976B4;
}
.btn-pinterest{
  background-color: #CC2127;
}
.btn-youtube{
  background-color: #E52D27;
}
.btn-tumblr{
  background-color: #35465C;
}
.btn-github{
  background-color: #333333;
}
.btn-behance{
  background-color: #1769FF;
}
.btn-dribbble{
  background-color: #EA4C89;
}
.btn-reddit{
  background-color: #FF4500;
}

.btn:hover{
box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}
.nav-item
{
	padding-left: 5px;}
/* button colors */
.btn-pink {
    color: #f8f8f8;
    background-color: #FCC6E2;
    border-color: #edc5fc;
}
.btn-pink:hover {
    color: #fff;
    background-color: #edc5fc;
    border-color: #edc5fc;
}
.btn-boy {
    color: #f8f8f8;
    background-color: #B4D8F1;
    border-color: #c0b6f2;
}
.btn-boy:hover {
    color: #fff;
    background-color: #c0b6f2;
    border-color: #c0b6f2;
}
.girl-pink{
    background: #FCC6E2 !important;
    color: #fff !important;
}
.boy-blue{
    background: #B4D8F1 !important;
    color: #fff !important;
}

.btn-sq-lg {
    width: 100% !important;
    height: 150px !important;
    margin-top:10px;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}
.alphabet {
    text-align: center;
    font-size: 44px;
}
.btn-lpink {
    color: #E81D62;
    background-color: transparent;
    border-color: #c51954;
}
.btn-lpink:hover {
    color: #fff;
    background-color: #E81D62;
    border-color: #E81D62;
}
.btn-blue {
    color: #f8f8f8;
    background-color: #2095F2;
    border-color: #1a80d1;
}
.btn-blue:hover {
    color: #fff;
    background-color: #1a80d1;
    border-color: #1a80d1;
}
.btn-lblue {
    color: #2095F2;
    background-color: transparent;
    border-color: #2095F2;
}
.btn-lblue:hover {
    color: #fff;
    background-color: #2095F2;
    border-color: #2095F2;
}
.btn-light-blue {
    color: #f8f8f8;
    background-color: #02A8F3;
    border-color: #0396d8;
}
.btn-light-blue:hover {
    color: #fff;
    background-color: #0396d8;
    border-color: #0396d8;
}
.btn-llight-blue {
    color: #02A8F3;
    background-color: transparent;
    border-color: #02A8F3;
}
.btn-llight-blue:hover {
    color: #fff;
    background-color: #02A8F3;
    border-color: #02A8F3;
}
.btn-green {
    color: #f8f8f8;
    background-color: #4BAE4F;
    border-color: #449d47;
}
.btn-green:hover {
    color: #fff;
    background-color: #449d47;
    border-color: #449d47;
}
.btn-lgreen {
    color: #4BAE4F;
    background-color: transparent;
    border-color: #4BAE4F;
}
.btn-lgreen:hover {
    color: #fff;
    background-color: #4BAE4F;
    border-color: #4BAE4F;
}



.btn-light-green {
    color: #f8f8f8;
    background-color: #8AC249;
    border-color: #78a83f;
}
.btn-light-green:hover {
    color: #fff;
    background-color: #78a83f;
    border-color: #78a83f;
}
.btn-llight-green {
    color: #8AC249;
    background-color: transparent;
    border-color: #8AC249;
}
.btn-llight-green:hover {
    color: #fff;
    background-color: #8AC249;
    border-color: #8AC249;
}
/* Backgrounds */
.bg-navy { background-color: #001F3F; }
.bg-blue { background-color: #0074D9; }
.bg-aqua { background-color: #7FDBFF; }
.bg-teal { background-color: #39CCCC; }
.bg-olive { background-color: #3D9970; }
.bg-green { background-color: #2ECC40; }
.bg-light-green { background-color: #C2D985; }
.bg-lime { background-color: #01FF70; }
.bg-yellow { background-color: #FFDC00; }
.bg-orange { background-color: #FF851B; }
.bg-red { background-color: #FF4136; }
.bg-fuchsia { background-color: #F012BE; }
.bg-purple { background-color: #B10DC9; }
.bg-maroon { background-color: #85144B; }
.bg-white { background-color: #FFFFFF; }
.bg-gray { background-color: #AAAAAA; }
.bg-gray-dark { background-color: #495052; }
.bg-silver { background-color: #DDDDDD; }
.bg-black { background-color: #111111; }
/* Colors */
.navy { color: #001F3F; }
.blue { color: #0074D9; }
.aqua { color: #7FDBFF; }
.teal { color: #39CCCC; }
.olive { color: #3D9970; }
.green { color: #2ECC40; }
.lime { color: #01FF70; }
.yellow { color: #FFDC00; }
.orange { color: #FF851B; }
.red { color: #FF4136; }
.fuchsia { color: #F012BE; }
.purple { color: #B10DC9; }
.maroon { color: #85144B; }
.white { color: #FFFFFF; }
.silver { color: #DDDDDD; }
.gray { color: #AAAAAA; }
.black { color: #111111; }
.bg-gradient { background: rgba(0, 0, 0, 0) linear-gradient(to right, #74cee4 0%, #66ce9c 16%, #edbf47 32%, #ec774b 49%, #74cee4 65%, #66ce9c 83%, #edbf47 100%) repeat scroll 0 0;}

.name {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .2px;
  white-space: pre;
  color: #633484;
}
.text-girl { color: #ff99cc!important; }
.bg-grdgreen {
background: rgb(228,239,192); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(228,239,192,1) 0%, rgba(171,189,115,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
.pink-link { color: #ff99cc!important; }.pink-link:hover { color: #ff6699!important; }.blue-link { color: #99ccff!important; }.blue-link:hover { color: #6699ff!important; }
.bg-boy { background-color: #d0ecfd; }
.bg-girl { background-color: #fee7f5; }
.vertical-align {
    display: flex;
    align-items: center;
}
.link-pink { color: #ff99cc !important; }
.myfav { color: rgb(131, 4, 99);}
#fav { font-weight: 700; font-weight: bold; font-size: 1.2rem; }
#fav:hover {color: #edbf47;}

/** icon box */
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 30px 0 10px 0 !important;  min-height: 230px !important; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500 !important; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px !important;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }
